<%- model_class = @actividad.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "Nueva Actividad") %></h1>
</div>
<%= render :partial => 'form' %>
